.About {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url('pages/Images/background.jpeg');
   padding: 50px;

}

.About-header {
   font-size: 80px;
   color: #fcfffa;
   background-image: url('pages/Images/star.png');
   background-repeat: no-repeat;
   background-position: -1cqmax;
   background-size: 7cqmin;
   padding-left: 1cm;

}

.group-container {
   display: flex;
   padding: 10px;
   flex-wrap: wrap;
   
}

.group-box {
   box-shadow: 0 4px 8px hsla(240, 5%, 96%, 0.993);
   border-radius: 10px;
   background-color: rgb(23, 203, 248);
   text-align: center;
   width: 238px;
   height: 480px;
   padding: 18px;
   margin: 12px;
}

.names {
   font-family: monospace;
   font-size: 24px;
   margin-bottom: 10px;
}

.team-image {
   border-radius: 50%;
   width: 150px;
   height: 150px;
}

@media (min-width: 601px) and (max-width: 1024px) {
   .group-container {
      flex-direction: column;
      flex-wrap: wrap;
   }

<<<<<<< HEAD

<<<<<<< HEAD
}
=======
}
>>>>>>> 72ed39f (updated profile pictures and styling)
=======
}
>>>>>>> 4d654b0 (color scheme updates)
